# Review required from the owner for anything that can change security or production.
*                       @<owner>
/.github/               @<owner>
/infra/                 @<owner>
/deploy/                @<owner>
**/migrations/          @<owner>
/Dockerfile             @<owner>
/.factory.yml           @<owner>
